body{
	background-color:yellow;
}


h3{
    color:green;
	font-family: "Rampart One";
}



h4{
    color:green;
	font-family: "Rampart One";
}

body{
	background-image:url("sl_031420_28950_10.jpg")
}





















